

<% if @person.person_is_candidate %>
    <h3 class="text-lg-left"><%= @person.campaign_district.name %> Campaign Info</h3>
    

   
      
      

        <div class="col-lg">
        <%= render 'opponentssection'%>
        </div>
        


        
        <!-- RENDER EXPENDITURE DATA HERE -->
        </div>

<%end%>
