

    <% if @person.campaign.present? %>
    <h3><%= @person.campaign_district.name %> Campaign Info</h3>
    <%end%>

   
      
      

        <div class="col-lg">
        <%= render 'opponentssection'%>
        </div>
        <%= render 'candidate_committees' %>


        
        <!-- RENDER EXPENDITURE DATA HERE -->
        </div>


