<% if @person.is_current_cycle %>
  <div class="row mt-1">
    <div class="col">
        <% if @person.on_ballot? && @person.reports.where(candidate_report: true).present? %>
          <h5 ><%= "#{@person.first_name} #{@person.last_name} for #{@person.district.name} Fundraising" %><% if @person.reports.present? %> <%= "(Since #{@person.reports.where(candidate_report: true).order(:period_begin).first.period_begin.to_formatted_s(:long)})" %><%end%></h5>    
        <%elsif @person.running_reelection?%>
          <h5><%= "#{@person.first_name} #{@person.last_name} for #{@person.incumbent_district.name} Fundraising" %><% if @person.reports.present? %> <%= "(Since #{@person.reports.where(candidate_report: true).order(:period_begin).first.period_begin.to_formatted_s(:long)})" %><%end%></h5>    
        <%end%>
    </div>
  </div>
<%end%>  