<% if @person.incumbent_district.present? %>

    <div class="bg-white pb-3">
        
            <h4 class="section-header p-2 border rounded mb-4 text-center text-md-left">Incumbent Info</h4>
            <!--Start of Incumbent Information Section-->
            <div class="row"> 
            <!--Incumbent Facts Card-->
                <div class="col-lg-5 mb-2">
                    <%= render 'incumbentfacts'%>
                </div>
            <!--Begins Incumbent Fundraising Data--> 
                <div class="col-lg-7 mb-2">
                    <%= render 'incumbentdistrict'%>
                </div>
            </div>
       
    </div>
<br>
<%end%>