  <%if @person.running_reelection? %>
    <div class="row">
      <% if @person.incumbent_district.at_large_district == false %>
      <%= render 'opponents' %>
      <%else%>
      <%= render 'atlargeopponents'%>
      <%end%>
    </div>
  <%else %>  
    <div class="row">
      <% if @person.district.at_large_district == false %>
      <%= render 'opponents' %>
      <%else%>
      <%= render 'atlargeopponents'%>
      <%end%>
    </div>
  <%end%>  