
<div class="container bg-white">
  <div class="row ">
    <div class="col">
      <div class="col">
      <%= render partial: 'shared/incumbent', locals: {person: @person, page_source: "person"}%>
      </div>
    </div> 
    <br>
    
    <% if @person.candidates.present? %>
      <div class=" mb-3 bg-white  ">
        <%= render 'campaignsection'%>
      </div>
    <%end%>
    
    <%= render 'incumbentsection'%>
    <%= render 'admin'%>
  </div>
</div> <!-- End of wrapper -->

