
<div class="container bg-white">
  <div class="row ">
    <div class="col">
      <div class="col">
      <%= render 'incumbentheader'%>
      </div>
    </div> 
    <br>
    <%= render 'incumbentsection'%>
    <% if @person.campaign.present? %>
      <div class=" mb-3 bg-white  ">
        <%= render 'campaignsection'%>
      </div>
    <%end%>
    <%= render 'admin'%>
  </div>
</div> <!-- End of wrapper -->

