<h1>Editing Registration Snapshot</h1>

<%= render 'form', registration_snapshot: @registration_snapshot %>

<%= link_to 'Show', @registration_snapshot %> |
<%= link_to 'Back', registration_snapshots_path %>
