<div class="row bg-light shadow-sm bg-white section-border rounded mb-4 p-3">
        <div class="col-sm-3 m-1 px-2 "  >

          <%= image_tag 'blank-headshot.png', alt: 'vacant_headshot', :class => "avatar text-center mb-3 shadow", size: "185x185"  %><br>
    
        </div>
        <div class="col-md m-1 px-2">
            
              <div class="col-md"> <h1 class=" primary-blue text-md-left">Vacant</h1></div>
                   
              
        </div>
           
</div>

