<div class="card rounded primary-border flex-grow-1">
  <% if local_assigns[:show_header] %>
    <div class="card-header">
      <span>Incumbent</span>
    </div>
  <% end %>
  <div class="card-body text-center d-flex flex-column justify-content-center align-items-center">
    <%= image_tag 'blank-headshot.png', alt: 'vacant_headshot', class: "img-fluid rounded-circle mb-4", style: "width: 150px; height: 150px; object-fit: cover;" %>
    <h1 class="primary-blue">Vacant</h1>
  </div>
</div>
