<h1>New Election</h1>

<%= render 'form', election: @election %>

<%= link_to 'Back', elections_path %>

<!--
<% if user_add_to_dashboard?(current_user, @district) %>
<%= link_to 'Stop Tracking District', add_district_path(@district, type: "remove"), method: :put, class: "btn btn-outline-danger" %>
<%else%>
<%= link_to 'Track District', add_district_path(@district, type: "add"), method: :put, class: "btn btn-outline-success" %>
<%end%> -->