<div class="container">
<div class="row">
<div class="col-1"></div>
<div class="col-10">
<h1>About Candidates/Elected Officials</h1>

<p>People listed on The Ballot Book can be categorized into three categories: incumbents, candidates, or both (either an incumbent seeking re-election, or running for a different office). Each variation presents a slightly different page.
</p>

<h4>Header</h4>
<p>The header provides an image of the person, their name (along with their party), their electoral status in red, as well as some biographical information, including their birthday, and -- if they are an incumbent -- the year their term expires, and the districts they reside in.
</p>
<h4>Incumbent Section</h4>
<p>If the individual is an incumbent, this section will provide some brief biographical information about the individual, along with some information about the district they currently represent. 
<br><br>
In addition, in some cases, incumbent fundraising may appear in this section. Incumbent fundraising appears in the following circumstances:
<br>
<ul>
<li>The incumbent is not up for election this cycle, but continues to raise money for their future re-election.</li>
<li>The incumbent has a separate “officeholder” account (a common practice for State Legislators), or other affiliated committee (such as a ballot measure committee).</li>
<li>The incumbent is termed out of their current office, but has opened a committee for a future hypothetical office they may intend to run for. </li>
<li>The incumbent has announced their intent to specifically run for another office during an election cycle in the future. </li>
</ul>

The data in this section is presented in aggregate amounts. While not always entirely relevant, these figures can give a glimpse into whether or not an incumbent is well-prepared to run for a subsequent office (or mount a strong re-election campaign).
</p>
<h4>Campaign Section</h4>
<p>If the individual is running for office -- either as an incumbent seeking re-election, a non-incumbent challenger, or an incumbent seeking another office, this section will display. 
<br><br>
Primarily, it includes the individuals running for office and their fundraising numbers thus far, a section describing the campaign finance rules for the office the individual is running for, and statistics regarding the office they are running for.
</p>
<h4>Fundraising Section</h4>
<p>If an individual seeking office has filed any campaign finance reports, their fundraising numbers will appear in this section in both the aggregate form, and the individual reports that have been filed (typically with a link to download that report). 
<br><br>
The aggregate numbers will typically date back to the first report filed by the candidate during the present cycle, and run through the most current report filed by the candidate.
</p>
<h4>Independent Expenditure Section</h4>
<p>This section will appear if either expenditures have been made supporting or opposing the candidate, or if a committee(s) have been opened specifically dedicated to supporting or opposing that candidate. 
<br><br>
If expenditures have been made supporting/opposing the candidate, the individual expenditures will display, along with aggregate amounts of total spent for the candidate, and total spent against the candidate. 
<br><br>
If specifically formed committees dedicated to supporting/opposing the candidate have been created, they will appear, along with the total amount raised and spent for the cycle, as well as their current cash on hand. 
</p>
</div>
<div class="col-1"></div>
</div>
</div>