<div class="container">
<div class="row">
<div class="col-1"></div>
<div class="col-10">
<h1>About Districts</h1>
<p>Each district page provides a glimpse into an individual geographic subsection of a jurisdiction. In many cases, a jurisdiction is split into multiple districts (for instance, the City of San Diego is divided into 9 separate districts), each one with its own unique geography and number.
<br><br>
For the purposes of this website, districts incorporate not only the above example, but also refer to any “at large” seats. For instance, Mayor of San Diego is also its own district. Meanwhile, for some cities -- and many school boards or other special districts -- the governing body all shares the same geography. As an example, each of the four City Councilmembers in the City of La Mesa all represent the same geography.
</p>
<h4>Incumbent</h4>
<p>The first window you will likely see on a District page is the current incumbent. In most cases, this will be only one individual representing a district. In other cases (such as the La Mesa example above), there will be multiple incumbents displayed in a row.</p>
</p>
<h4>District Registration</h4>
<p>This window breaks down the current registration breakdown and advantage of the district, including the total number of registered voters in the footer.
</p>
<h4>District Map</h4>
<p>In many cases, a map of the geographic outline of the district will be available. You should be able to zoom in on the map as is, but it’s recommended to click “View Full Map” to get a more complete viewing experience. 
<br><br>
In certain cases, the map may not be available, due to the lack of geographic data provided by the county for certain districts, especially those that have been created within the last couple of years. It’s likely that these geographies will be provided prior to the upcoming election, in which case they will be added to The Ballot Book as well. 
</p>
<h4>Candidates for this Office</h4>
<p>If the district’s term expires during the current cycle, a list of the candidates who are currently running for this office will appear, indicating their party (based on the color of their name), their current title or occupation, as well as their current ballot status (for example: “Advanced to General” or “Rumored” or “Declared Candidacy”).
<br><br>
If the candidate has filed any campaign finance reports, their current cash on hand will be available, as well as their net cash-on-hand (calculated by subtracting outstanding debt from current cash-on-hand). 
</p>
<h4>Past Performance</h4>
<p>This window will display how the district has voted historically on statewide candidates or measures. For statewide candidates, the name of the winner and their margin of victory will display. For measures, their percentage in the district will appear, along with how better or worse that measure did in the district compared to the geography as a whole (the state for statewide measures, and the county for countywide measures). 
<br><br>
Note: While this data is available for most districts, it is not for all of them, due to how the Registrar of Voters reports down-ballot performances. For districts further down the ballot -- and for recently created districts -- there may not be as comprehensive data available. It’s our intention to work toward filling in the current gaps in this data, and we will also be supplementing current data with new information with each passing election. 
</p>
<h4>Campaign Finance Limits</h4>
<p>This window provides a glimpse as the campaign finance rules for a given jurisdiction, describing what the contribution limit is, whether or not corporate/PAC contributions are permitted, and what the party contribution limit is, if one applies. 
<br><br>
<strong>Disclaimer:</strong> This section is meant to provide a quick reference, not serve as legal guidance. Prior to making any contribution to a candidate, please consult with the local laws and regulations, which may often be more complex and nuanced than what The Ballot Book is able to present. 
</p>
<h4>Download District</h4>
<p>Click this button to download a generated PDF including most of the information described above in an easy-to-read and easy-to-print format. 
</p>
<h4>Track District</h4>
<p>If you are not already tracking this district, clicking this button will add it to your “tracker”, which you can view by visiting your personalized Dashboard. 
</p>
</div>
<div class="col-1"></div>
</div>
</div>