<div class="container">
<div class="row">
<div class="col-10">

<h1>About The Ballot Book</h1>
<p>
The Ballot Book was created in order to centralize the disparate sources of information that relates to local politics throughout San Diego County.
</p>
<p>
Currently, The Ballot Book contains data regarding voter registration, past voter behavior, census data, elected officials, candidates, and campaign finance for the San Diego delegation of the California State Legislature & US Congress, as well as all San Diego County offices, and the 18 incorporated cities throughout San Diego County.
</p>
<p>
The Ballot Book was created by Mason Herron of <a href="http://www.edgewater-strategies.com" target="_blank">Edgewater Strategies</a>, a local political consulting and government affairs firm. The website is free for use, with the only request being adequate credit provided for any data substantially pulled from the website. 
</p>
<p>
If you have any questions or suggestions, please feel free to contact me at <a href="mailto: mason@edgewater-strategies.com" target="_blank">mason@edgewater-strategies.com</a>, or contact me on <a href="https://twitter.com/mason_herron" target="_blank">Twitter</a>.
</p>
</div>
</div>

