<div class="container marketing">



    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette p-3">
      <div class="col-md-7 my-auto">
        <h4 class="heavy primary-blue">Every Elected Official. Every Candidate. <span class="text-muted"></span></h4>
        <p class="font-weight-normal">In-depth information on every incumbent elected official and candidate in San Diego County, including biographical, contact, and campaign information.</p>
      </div>
      <div class="col-md-5">
        <%= image_tag 'mike_levin_page.png', :class=> "homepage-images img-fluid shadow"%>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette p-3">
      <div class="col-md-7 order-md-2 my-auto">
        <h4 class="heavy primary-blue">Detailed information about every District<span class="text-muted"></span></h4>
        <p class="font-weight-normal">From U.S. Congress to school boards, The Ballot Book has detailed information on every district, including registration data, maps, campaign finance limits, historical performance, and more.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag 'san_diego_district.png', :class=> "homepage-images img-fluid shadow"%>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette p-3">
      <div class="col-md-7 my-auto">
        <h4 class="heavy primary-blue">In-depth campaign finance data<span class="text-muted"></span></h4>
        <p class="font-weight-normal">Campaign finance data for every elected official, candidate, and Political Action Committee throughout the county -- including regularly updated independent expenditure data.</p>
      </div>
      <div class="col-md-5">
        <%= image_tag 'fundraising_data.png', :class=> "homepage-images img-fluid shadow" %>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->



  </div>