<head>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="The Ballot Book">
<meta name="twitter:creator" content="@TheBallotBook">
<meta name="twitter:title" content="Welcome to The Ballot Book">
<meta name="twitter:description" content="'A comprehensive database of elected officials, districts, and campaign finance for all of San Diego County.'">
<meta name="twitter:image" content="/logos/BallotBook_Twitter_card.png">
</head>

<div class="container bg-white">

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3  bg-white">
<div class="row">
  <div class="col-md-7 p-lg-3 my-auto order-md-2">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kF4f9AgB6IA" allowfullscreen, title="Welcome to The Ballot Book Video"></iframe>
    </div>
  </div>
  <div class="col-md-5 p-lg-3 my-5 order-md-1">
    <h1 class="heavy">Welcome to The Ballot Book</h1>
    <p class=" font-weight-normal">A comprehensive database of elected officials, districts, and campaign finance for all of San Diego County.</p>
    <a class="btn btn-primary btn-lg" href="/users/sign_up">Sign Up Today</a>
  </div>

  </div>
</div>


<div class="container marketing">



    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette p-3">
      <div class="col-md-7 my-auto mb-2">
        <h4 class="heavy primary-blue">Every Elected Official. Every Candidate. <span class="text-muted"></span></h4>
        <p class="font-weight-normal">In-depth information on every incumbent elected official and candidate in San Diego County, including biographical, contact, and campaign information.</p>
        <a class="primary-blue heavy mb-2" href="/pages/sample_person">View Sample</a>
      </div>
      <div class="col-md-5 p-3">
        <div class="shadow p-3"><%= image_tag '/scott_peters_sample.png', :class=> "homepage-images img-fluid", alt: 'Sample Candidate'%></div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette p-3">
      <div class="col-md-7 order-md-2 my-auto">
        <h4 class="heavy primary-blue">Detailed information about every district<span class="text-muted"></span></h4>
        <p class="font-weight-normal">From U.S. Congress to school boards, The Ballot Book has detailed information on every district, including registration data, maps, campaign finance limits, historical performance, and more.</p>
        <a class="primary-blue heavy" href="/pages/sample_district">View Sample</a>
      </div>
      <div class="col-md-5 order-md-1 p-3"">
        <div class="shadow p-3"><%= image_tag '/52nd_district_sample.png', :class=> "homepage-images img-fluid", alt: 'Sample District'%></div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette p-3">
      <div class="col-md-7 my-auto">
        <h4 class="heavy primary-blue">In-depth campaign finance data<span class="text-muted"></span></h4>
        <p class="font-weight-normal">Campaign finance data for every elected official, candidate, and Political Action Committee throughout the county -- including regularly updated independent expenditure data.</p>
      </div>
      <div class="col-md-5">
        <div class="shadow p-3 shadow"><%= image_tag 'fundraising_data.png', :class=> "homepage-images img-fluid ", alt: 'Campaign Finance Example' %></div>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->



  </div>