<head>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="The Ballot Book">
<meta name="twitter:creator" content="@TheBallotBook">
<meta name="twitter:title" content="Welcome to The Ballot Book">
<meta name="twitter:description" content="'A comprehensive database of elected officials, districts, and campaign finance for all of San Diego County.'">
<meta name="twitter:image" content="/logos/BallotBook_Twitter_card.png">
</head>

<div class="container bg-white">

<div class="position-relative overflow-hidden my-5 bg-white">
<div class="row text-center">
  <div class="col-2"></div>
  <div class="col-8">
    <%= image_tag 'logos/ballot_logo_square.png', class: "", alt: 'The Ballot Book Logo' %>
    <br>
    <h1 class="heavy mt-4">Welcome to The Ballot Book</h1>
    <br>
    <h3 class="">A comprehensive database of elected officials, districts, and campaign finance for San Diego County.</h3>
    <br>
    <p>The Ballot Book contains data regarding voter registration, past voter behavior, census data, elected officials, candidates, and campaign finance for the San Diego delegation of the California State Legislature & US Congress, as well as all San Diego County offices, and the 18 incorporated cities throughout San Diego County.</p>
    <br>
    <div>  


      <%= link_to 'Explore Districts', districts_path, :class => "btn btn-primary btn-large m-2" %>         
      <%= link_to 'Explore Jurisdictions', jurisdictions_path, :class => "btn btn-primary btn-large m-2" %> 
      <%= link_to 'Explore Candidates', candidates_path, :class => "btn btn-primary btn-large m-2" %>             
  
  
    </div>    
  </div>
  <div class="col-2"></div>

  </div>
</div>





  </div>