<body class="bg-white">
  
    <div class="container">


   


</div>


<div class="container mt-4 rounded border-primary">
    
        
    

    
<div class="wrapper container ">
<div class="row ">
  <div class="col ">
    <h4 class="mb-0 mt-2 header-text nounderline"><a href="/jurisdictions/2">U.S. Congress</a></h4>
    <h1 class="heavy text-responsive primary-blue">U.S. House of Representatives  
    - 52nd District
</h1>

  </div>

</div>
</div>     
    <br>
<div class="wrapper container">    
  <div class="row">
    <div class="col-lg">
          <div class="card shadow-sm mb-3 bg-white rounded border-primary" style="max-width: 100%;">
          <div class="card-header">
            Incumbent
          </div>
        <div class="row no-gutters">
          <div class="col-auto d-flex  justify-content-center pl-4 mt-3" >
            <img alt="headshot" class="avatar text-center shadow" src="https://sdpolitics.s3.amazonaws.com/uploads/person/image/4/headshot_4278222f7f.jpg?X-Amz-Expires=600&amp;X-Amz-Date=20200806T175512Z&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAWF556RAFO5ON7KX4%2F20200806%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=9d4dce6144dda4043c4b4c0d69c9e36049b988fcc4cd967ac89f186616a81e96" width="100" height="100" /></div>
          <div class="col-auto">
            <div class="card-body">
              <h4 class="card-title"> <a href="/people/4">Scott Peters</a></h4>
              <h6 class="card-subtitle mb-2 text-muted">Congressmember (Democrat)</h6>
              <p class="card-text">
                  <div>
                      <small class="heavy">Birthdate: </small><small>June 17, 1958 (Age 62) 
                      in Ohio
                      </small><br>
                      <small class="heavy">Term Expires: </small><small>2020</small>
                      <br>
                      <small class="heavy">Resides in: </small>
                      <small>CD-52,</small>
                      <small>SD-39,</small>
                      <small>AD-78,</small>
                      <small>BOS-4</small>
                  </div>
              </p>
          </div>
        </div>
  </div> 
  </div> 

              <div class="card shadow-sm mb-3 bg-white rounded  primary-border" style="max-width: 100%;">
          <div class="card-header">
            District Registration
          </div>
          <div class="card-text pl-4 pr-4">
            <div class="row p-1 pb-2"> 
                <div class="col-md" style="color: #35469C;"><br>
                  <h6 class="card-subtitle text-muted" >DEM</h6>
                  <h5>38.9%</h5>
                </div>
                <div class="col-md" style="color: #911111;"><br>
                  <h6 class="card-subtitle text-muted" >REP</h6>
                  <h5>27.52%</h5>
                </div>
                <div class="col-md " style="color: #627D98;"><br>
                  <h6 class="card-subtitle text-muted" >OTHER</h6>
                  <h5>33.56%</h5>
                </div>
                <div class="col-md"><br>
                  <h6 class="card-subtitle text-muted text-nowrap">ADVANTAGE</h6>
                  <h5>
                        <strong><span class="text-nowrap" style="color: #35469C;">D +11.38%</span></strong>
</h5>
                </div>        
            </div>        
          </div>
          <div class="card-footer">
            447,045 TOTAL VOTERS
          </div>        
       </div>
          <div class="card shadow-sm mb-3 bg-white rounded  primary-border" style="max-width: 100%;">
    <div class="card-header">
      District Map
    </div>
    <div style="height:280px; border:2px solid #eee; display:inline-block; overflow:hidden;">
      <iframe style="position:relative; top:-46px; border:none;" 
          src="https://www.google.com/maps/d/u/0/embed?mid=1Z0zRowOJSfg5msSCaMTpHLo6wzuq8E42" 
          width=700 height=320></iframe>      
    </div>
    <div class="card-footer">
        <a class="btn btn-primary mr-2" href="https://www.google.com/maps/d/u/0/embed?mid=1Z0zRowOJSfg5msSCaMTpHLo6wzuq8E42">View Full Map</a> 
    </div>                        
  </div>
    </div>
    <div class="col-lg">
      <div class="card shadow-sm mb-3 bg-white rounded primary-border" style="max-width: 100%;">
  <div class="card-header">
    Candidates for this Office 
  </div>
  <div class="card-text pl-4 pr-4">
  <div class="table-responsive">
    <table class="table">


      <tbody>

      <tr>
          
          <td class="condensed-column pt-4 pb-0">
          <div class=""><span class="dem-text my-auto"><i class="material-icons">check_circle</i></span></div>
          </td>
          <td class="condensed-column"><img alt="headshot" class="avatar img-fluid shadow-sm" src="https://sdpolitics.s3.amazonaws.com/uploads/person/image/4/headshot_4278222f7f.jpg?X-Amz-Expires=600&amp;X-Amz-Date=20200806T175512Z&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAWF556RAFO5ON7KX4%2F20200806%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=9d4dce6144dda4043c4b4c0d69c9e36049b988fcc4cd967ac89f186616a81e96" width="65" height="65" /></td>
          <td>
          <a class="dem-text" href="/people/4">Scott Peters</a><br><small>Congressmember</small>
          <br><small class="primary-blue">Advanced to General</small></td>
          </td>
          <td>     
                <td class="text-right "><span class="green-pill" style="display: inline;">$1,998,438.12</span><br><small>Cash-on-Hand</small><br><small> <span class="float-right">Net: $1,827,678.00</span></small></td>
 </td>
      <tr>
          
          <td class="condensed-column pt-4 pb-0">
          <div class=""><span class="gop-text"><i class="material-icons">check_circle</i></span></div>
          </td>
          <td class="condensed-column"><img alt="headshot" class="avatar img-fluid shadow-sm" src="https://sdpolitics.s3.amazonaws.com/uploads/person/image/26/headshot_f84bb91809.png?X-Amz-Expires=600&amp;X-Amz-Date=20200806T175512Z&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAWF556RAFO5ON7KX4%2F20200806%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=3094e83534a26f3691927dfc9fc1f68a7e6138de0b654584c94d6d3fbd6e1d3e" width="65" height="65" /></td>
          <td>
          <a class="gop-text" href="/people/26">Jim DeBello</a><br><small>Entepreneur</small>
          <br><small class="primary-blue">Advanced to General</small></td>
          </td>
          <td>     
                <td class="text-right "><span class="green-pill" style="display: inline;">$47,506.06</span><br><small>Cash-on-Hand</small><br><small> <span class="float-right gop-text">Net: (-$10,814.95)</span></td>
 </td>
          
      </tr>    
      <small class="text-muted">Checkmark = Party Endorsement</small>
      </tbody>
      </div>
      </table>
    </div>
  </div>
  </div>
  
      <div class="card shadow-sm mb-3 bg-white rounded primary-border" style="max-width: 100%;">
      <div class="card-header">
      Past Performance
      </div>
  <div class="card-text pl-4 pr-4">
  <br>
  
  <div class="table-responsive">
  <table class="table">
      <tbody>
        <tr>
          <td class="no-border pb-1 pt-1"><span class="heavy">Average Turnout: 71.65%</span> </td>
        </tr>
          <tr>
            <td class="no-border">2018 Gubernatorial  <br><small>(Overall Turnout: 71.01%)</small>
            </td>
            <td class="no-border">
            <span class="dem-text">Newsom</span>
            </td>
            <td class="no-border">
            <span class="dem-pill float-right">+16.60%</span>
            </td>   
          </tr>
        <tr>
          <td>2016 Presidential  <br><small>(Overall Turnout: 84.19%)</small></td>
          <td>
          <span class="dem-text">Clinton</span>
          </td>
          <td>
          <span class="dem-pill float-right">+22.50%</span>
          </td>        
        </tr>
        <tr>
          <td>2014 Gubernatorial  <br><small>(Overall Turnout: 51.53%)</small></td>
          <td>
          <span class="dem-text">Brown</span>
          </td>
          <td>
          <span class="dem-pill float-right">+4.60%</span>
          </td>        
        </tr>
        <tr>
          <td>2012 Presidential  <br><small>(Overall Turnout: 79.89%)</small></td>
          <td>
          <span class="dem-text">Obama</span>
          </td>
          <td>
          <span class="dem-pill float-right">+6.40%</span>
          </td>        
        </tr>
          <tr>
            <td>Measure A (2020) <br><small>(SOS Initiative)</td>
            <td></td>
            <td >
            <span class="red-performance-pill float-right">46.36%</span>
          <br><small class="float-right text-nowrap">                      2.67% below Countywide
                      </small>
            </td>
          </tr>
          <tr>
            <td>Prop 6 (2018) <br><small>(Gas tax repeal)</td>
            <td></td>
            <td >
            <span class="red-performance-pill float-right">47.13%</span>
                    <br><small class="float-right text-nowrap">
                      3.94% above Statewide
</small>
            </td>
          </tr>
          <tr>
            <td>Prop 51 (2016) <br><small>($9 billion education bonds)</td>
            <td></td>
            <td >
            <span class="green-performance-pill float-right">51.58%</span>
                      <br><small class="float-right text-nowrap">                      3.59% below Statewide
                      </small>
            </td>
          </tr>
          <tr>
            <td>Prop 62 (2016) <br><small>(Death penalty repeal)</td>
            <td></td>
            <td >
            <span class="red-performance-pill float-right">45.91%</span>
                      <br><small class="float-right text-nowrap">                      0.94% below Statewide
                      </small>
            </td>
          </tr>
        
      </tbody>
  </table>
  </div>
  </div>
</div>  
        <div class="card shadow-sm mb-3 bg-white rounded primary-border " style="max-width: 100%;">
    <div class="card-header">
      Campaign Finance Limits
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
          Contribution Limit:
          <div class="green-text heavy float-right">
            <div class="green-text heavy float-right"><strong>$2,800
          </strong></div></li>
      <li class="list-group-item">Corporate Contributions:
          <div class="gop-text heavy float-right"> <i class="material-icons">cancel</i>
          </li>
      <li class="list-group-item">PAC Contributions:
          <div class="green-text float-right"><i class="material-icons">check_circle</i>
</li>
      <li class="list-group-item">
          Party Contribution Limit:
          <div class="green-text heavy float-right"><strong>$5,000</strong>
</li></li>
    </ul>
  </div> 
    </div>
  </div>
  <div class="row">
    <div class="col">
        <div class="card shadow-sm mb-3 bg-white rounded primary-border" style="max-width: 100%;">
    <div class="card-header">
      Elected Officials Residing in District
    </div>
    <div class="card-text p-3">
      <div class="table-responsive">
          <table class="table" id="residents">
          <thead>
            <tr>
              <th class="no-border">Name</th>
              <th class="no-border">Age</th>
              <th class="no-border">Term Expires</th>
              <th class="no-border">Tenure (in this office)</th>
              <th class="no-border">Voters Represented</th>
              <th class="no-border">District Registration</th>
            </tr>
          </thead>

          <tbody>
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dem-text" href="/people/4">Scott Peters</a><br><small>U.S. House of Representatives, U.S. Congress</small>
</td>
                  <td>62</td>
                  <td>2020</td>
                  <td>7 years</td>
                  <td>447,045</td>
                  <td>
                        <strong><span style="color: #35469C;">D +11.38%</span></strong>
 </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="gop-text" href="/people/390">Maria Simon</a><br><small>Governing Board, Coronado Unified School District</small>
</td>
                  <td>54</td>
                  <td>2020</td>
                  <td>7 years</td>
                  <td>10,920</td>
                  <td>                        <strong><span style="color: #911111;">R +10.39%</span></strong>
                         </td>
                  </tr>
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="gop-text" href="/people/391">Helen Anderson-Cruz</a><br><small>Governing Board, Coronado Unified School District</small>
</td>
                  <td>74</td>
                  <td>2022</td>
                  <td>1 year</td>
                  <td>10,920</td>
                  <td>                        <strong><span style="color: #911111;">R +10.39%</span></strong>
                         </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="gop-text" href="/people/39">Dan McAllister</a><br><small>Treasurer-Tax Collector, San Diego County</small>
</td>
                  <td>69</td>
                  <td>2022</td>
                  <td>17 years</td>
                  <td>1,842,573</td>
                  <td>
                        <strong><span style="color: #35469C;">D +11.99%</span></strong>
 </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="gop-text" href="/people/44">Steve Vaus</a><br><small>Mayor, City of Poway</small>
</td>
                  <td>68</td>
                  <td>2022</td>
                  <td>5 years</td>
                  <td>31,383</td>
                  <td>                        <strong><span style="color: #911111;">R +8.37%</span></strong>
                         </td>
                  </tr>
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dem-text" href="/people/48">Barbara Bry</a><br><small>City Council, City of San Diego</small>
</td>
                  <td>71</td>
                  <td>2020</td>
                  <td>3 years</td>
                  <td>93,160</td>
                  <td>
                        <strong><span style="color: #35469C;">D +19.49%</span></strong>
 </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dts-text" href="/people/55">Mark Kersey</a><br><small>City Council, City of San Diego</small>
                    </td>
                  <td>44</td>
                  <td>2020</td>
                  <td>7 years</td>
                  <td>97,377</td>
                  <td>
                        <strong><span style="color: #35469C;">D +3.44%</span></strong>
 </td>
                  </tr>
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="gop-text" href="/people/58">Chris Cate</a><br><small>City Council, City of San Diego</small>
</td>
                  <td>37</td>
                  <td>2022</td>
                  <td>5 years</td>
                  <td>84,371</td>
                  <td>
                        <strong><span style="color: #35469C;">D +13.45%</span></strong>
 </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dts-text" href="/people/295">Julie Union</a><br><small>Board of Education, Solana Beach School District</small>
                    </td>
                  <td>55</td>
                  <td>2020</td>
                  <td>7 years</td>
                  <td>27,147</td>
                  <td>
                        <strong><span style="color: #35469C;">D +5.05%</span></strong>
 </td>
                  </tr>
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dem-text" href="/people/297">Gaylin Allbaugh</a><br><small>Board of Education, Solana Beach School District</small>
</td>
                  <td>50</td>
                  <td>2022</td>
                  <td>1 year</td>
                  <td>27,147</td>
                  <td>
                        <strong><span style="color: #35469C;">D +5.05%</span></strong>
 </td>
                  </tr>
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dem-text" href="/people/298">Vicki King</a><br><small>Board of Education, Solana Beach School District</small>
</td>
                  <td>57</td>
                  <td>2022</td>
                  <td>13 years</td>
                  <td>27,147</td>
                  <td>
                        <strong><span style="color: #35469C;">D +5.05%</span></strong>
 </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dem-text" href="/people/228">Doug Rafner</a><br><small>Board of Trustees, Del Mar Union Elementary School District</small>
</td>
                  <td>56</td>
                  <td>2022</td>
                  <td>9 years</td>
                  <td>29,579</td>
                  <td>
                        <strong><span style="color: #35469C;">D +14.45%</span></strong>
 </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="gop-text" href="/people/86">Marvin Heinze</a><br><small>City Council, City of Coronado</small>
</td>
                  <td>62</td>
                  <td>2022</td>
                  <td>1 year</td>
                  <td>10,920</td>
                  <td>                        <strong><span style="color: #911111;">R +10.39%</span></strong>
                         </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="gop-text" href="/people/83">Bill Sandke</a><br><small>City Council, City of Coronado</small>
</td>
                  <td>56</td>
                  <td>2022</td>
                  <td>5 years</td>
                  <td>10,920</td>
                  <td>                        <strong><span style="color: #911111;">R +10.39%</span></strong>
                         </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dem-text" href="/people/333">Marìa Nieto Senour</a><br><small>Board of Trustees, San Diego Community College District</small>
</td>
                  <td>77</td>
                  <td>2022</td>
                  <td>29 years</td>
                  <td>127,638</td>
                  <td>
                        <strong><span style="color: #35469C;">D +19.67%</span></strong>
 </td>
                  </tr>
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="gop-text" href="/people/168">Barry Leonard</a><br><small>City Council, City of Poway</small>
</td>
                  <td>65</td>
                  <td>2020</td>
                  <td>5 years</td>
                  <td>31,383</td>
                  <td>                        <strong><span style="color: #911111;">R +8.37%</span></strong>
                         </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dem-text" href="/people/340">Alicia Muñoz</a><br><small>Board of Education, San Diego County Board of Education</small>
</td>
                  <td>67</td>
                  <td>2022</td>
                  <td>5 years</td>
                  <td>352,178</td>
                  <td>
                        <strong><span style="color: #35469C;">D +13.43%</span></strong>
 </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dem-text" href="/people/404">Michelle O&#39;Connor-Ratcliffe</a><br><small>Board of Education, Poway Unified School District</small>
</td>
                  <td>44</td>
                  <td>2022</td>
                  <td>5 years</td>
                  <td>23,122</td>
                  <td>
                        <strong><span style="color: #35469C;">D +7.43%</span></strong>
 </td>
                  </tr>
                
            
                  
                  <tr>
                  <td>
                    <a class="dem-text" href="/people/405">Ginger Couvrette</a><br><small>Board of Education, Poway Unified School District</small>
</td>
                  <td>44</td>
                  <td>2022</td>
                  <td>1 year</td>
                  <td>28,257</td>
                  <td>                        <strong><span style="color: #911111;">R +8.27%</span></strong>
                         </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dts-text" href="/people/407">Kimberley Beatty</a><br><small>Board of Education, Poway Unified School District</small>
                    </td>
                  <td>53</td>
                  <td>2020</td>
                  <td>7 years</td>
                  <td>22,407</td>
                  <td>                        <strong><span style="color: #911111;">R +2.14%</span></strong>
                         </td>
                  </tr>
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dem-text" href="/people/408">Darshana Patel</a><br><small>Board of Education, Poway Unified School District</small>
</td>
                  <td>46</td>
                  <td>2020</td>
                  <td>3 years</td>
                  <td>27,000</td>
                  <td>
                        <strong><span style="color: #35469C;">D +3.89%</span></strong>
 </td>
                  </tr>
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="gop-text" href="/people/167">John Mullin</a><br><small>City Council, City of Poway</small>
</td>
                  <td>71</td>
                  <td>2022</td>
                  <td>9 years</td>
                  <td>8,094</td>
                  <td>                        <strong><span style="color: #911111;">R +9.03%</span></strong>
                         </td>
                  </tr>
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="gop-text" href="/people/406">T.J. Zane</a><br><small>Board of Education, Poway Unified School District</small>
</td>
                  <td>47</td>
                  <td>2022</td>
                  <td>5 years</td>
                  <td>23,943</td>
                  <td>
                        <strong><span style="color: #35469C;">D +3.63%</span></strong>
 </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="gop-text" href="/people/229">Scott Wooden</a><br><small>Board of Trustees, Del Mar Union Elementary School District</small>
</td>
                  <td>58</td>
                  <td>2022</td>
                  <td>9 years</td>
                  <td>29,579</td>
                  <td>
                        <strong><span style="color: #35469C;">D +14.45%</span></strong>
 </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="gop-text" href="/people/169">Caylin Frank</a><br><small>City Council, City of Poway</small>
</td>
                  <td>34</td>
                  <td>2020</td>
                  <td>2 years</td>
                  <td>31,383</td>
                  <td>                        <strong><span style="color: #911111;">R +8.37%</span></strong>
                         </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dem-text" href="/people/332">Bernie Rhinerson</a><br><small>Board of Trustees, San Diego Community College District</small>
</td>
                  <td>69</td>
                  <td>2020</td>
                  <td>7 years</td>
                  <td>126,746</td>
                  <td>
                        <strong><span style="color: #35469C;">D +11.78%</span></strong>
 </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dem-text" href="/people/51">Jennifer Campbell</a><br><small>City Council, City of San Diego</small>
</td>
                  <td>75</td>
                  <td>2022</td>
                  <td>1 year</td>
                  <td>91,377</td>
                  <td>
                        <strong><span style="color: #35469C;">D +16.96%</span></strong>
 </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dem-text" href="/people/84">Whitney Benzian</a><br><small>City Council, City of Coronado</small>
</td>
                  <td>40</td>
                  <td>2020</td>
                  <td>3 years</td>
                  <td>10,920</td>
                  <td>                        <strong><span style="color: #911111;">R +10.39%</span></strong>
                         </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="gop-text" href="/people/166">Dave Grosch</a><br><small>City Council, City of Poway</small>
</td>
                  <td>72</td>
                  <td>2022</td>
                  <td>9 years</td>
                  <td>7,598</td>
                  <td>                        <strong><span style="color: #911111;">R +5.00%</span></strong>
                         </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dem-text" href="/people/365">Joyce Dalessandro</a><br><small>Board of Trustees, San Dieguito Union High School District</small>
</td>
                  <td>74</td>
                  <td>2020</td>
                  <td>23 years</td>
                  <td>23,678</td>
                  <td>
                        <strong><span style="color: #35469C;">D +5.22%</span></strong>
 </td>
                  </tr>
                
            
                  
                  <tr>
                  <td>
                    <a class="dem-text" href="/people/366">Kristin Gibson</a><br><small>Board of Trustees, San Dieguito Union High School District</small>
</td>
                  <td>51</td>
                  <td>2022</td>
                  <td>1 year</td>
                  <td>24,240</td>
                  <td>
                        <strong><span style="color: #35469C;">D +12.37%</span></strong>
 </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dts-text" href="/people/387">Julie Russell</a><br><small>Governing Board, Coronado Unified School District</small>
                    </td>
                  <td>53</td>
                  <td>2020</td>
                  <td>3 years</td>
                  <td>10,920</td>
                  <td>                        <strong><span style="color: #911111;">R +10.39%</span></strong>
                         </td>
                  </tr>
                
            
                  
                  <tr>
                  <td>
                    <a class="gop-text" href="/people/388">Lee Pontes</a><br><small>Governing Board, Coronado Unified School District</small>
</td>
                  <td>67</td>
                  <td>2022</td>
                  <td>5 years</td>
                  <td>10,920</td>
                  <td>                        <strong><span style="color: #911111;">R +10.39%</span></strong>
                         </td>
                  </tr>
                
            
                  
                  <tr>
                  <td>
                    <a class="gop-text" href="/people/389">Esther Valdes</a><br><small>Governing Board, Coronado Unified School District</small>
</td>
                  <td>46</td>
                  <td>2022</td>
                  <td>3 years</td>
                  <td>10,920</td>
                  <td>                        <strong><span style="color: #911111;">R +10.39%</span></strong>
                         </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dem-text" href="/people/414">John Lee Evans</a><br><small>Board of Education, San Diego Unified School District</small>
</td>
                  <td>67</td>
                  <td>2020</td>
                  <td>11 years</td>
                  <td>119,027</td>
                  <td>
                        <strong><span style="color: #35469C;">D +17.69%</span></strong>
 </td>
                  </tr>
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dem-text" href="/people/416">Michael McQuary</a><br><small>Board of Education, San Diego Unified School District</small>
</td>
                  <td>78</td>
                  <td>2020</td>
                  <td>5 years</td>
                  <td>124,950</td>
                  <td>
                        <strong><span style="color: #35469C;">D +18.80%</span></strong>
 </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dem-text" href="/people/13">Brian Maienschein</a><br><small>State Assembly, California State Legislature</small>
</td>
                  <td>51</td>
                  <td>2020</td>
                  <td>7 years</td>
                  <td>303,132</td>
                  <td>
                        <strong><span style="color: #35469C;">D +6.30%</span></strong>
 </td>
                  </tr>
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dem-text" href="/people/46">Mara Elliott</a><br><small>City Attorney, City of San Diego</small>
</td>
                  <td>51</td>
                  <td>2020</td>
                  <td>3 years</td>
                  <td>789,130</td>
                  <td>
                        <strong><span style="color: #35469C;">D +23.70%</span></strong>
 </td>
                  </tr>
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dem-text" href="/people/227">Gee Wah  Mok</a><br><small>Board of Trustees, Del Mar Union Elementary School District</small>
</td>
                  <td>41</td>
                  <td>2020</td>
                  <td>1 year</td>
                  <td>29,579</td>
                  <td>
                        <strong><span style="color: #35469C;">D +14.45%</span></strong>
 </td>
                  </tr>
                
            
                  
                  <tr>
                  <td>
                    <a class="gop-text" href="/people/85">Mike Donovan</a><br><small>City Council, City of Coronado</small>
</td>
                  <td>68</td>
                  <td>2020</td>
                  <td>3 years</td>
                  <td>10,920</td>
                  <td>                        <strong><span style="color: #911111;">R +10.39%</span></strong>
                         </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="gop-text" href="/people/338">Mark Powell</a><br><small>Board of Education, San Diego County Board of Education</small>
</td>
                  <td>58</td>
                  <td>2020</td>
                  <td>3 years</td>
                  <td>390,618</td>
                  <td>
                        <strong><span style="color: #35469C;">D +24.22%</span></strong>
 </td>
                  </tr>
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="gop-text" href="/people/82">Richard Bailey</a><br><small>Mayor, City of Coronado</small>
</td>
                  <td>34</td>
                  <td>2020</td>
                  <td>3 years</td>
                  <td>10,920</td>
                  <td>                        <strong><span style="color: #911111;">R +10.39%</span></strong>
                         </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="dem-text" href="/people/451">Linda Greer</a><br><small>Board of Directors, Palomar Health District</small>
</td>
                  <td>67</td>
                  <td>2022</td>
                  <td>15 years</td>
                  <td>46,035</td>
                  <td>
                        <strong><span style="color: #35469C;">D +5.58%</span></strong>
 </td>
                  </tr>
                
            
                
            
                  
                  <tr>
                  <td>
                    <a class="gop-text" href="/people/453">John Clark</a><br><small>Board of Directors, Palomar Health District</small>
</td>
                  <td>68</td>
                  <td>2022</td>
                  <td>1 year</td>
                  <td>46,977</td>
                  <td>                        <strong><span style="color: #911111;">R +4.67%</span></strong>
                         </td>
                  </tr>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
          </tbody>
        </table>
    </div>

<script>
    $( document ).on('turbolinks:load', function() {
    $('#residents').DataTable( {
      retrieve: true
    });
});


</script>
    </div>
  </div>
</div>
</div>


  
<div class="container">
  <a class="float-right btn btn-primary ml-4" href=#>Download District (PDF)</a>

    <a class="float-right btn btn-outline-secondary" href=#>Track District</a>
  <a class="btn btn-outline-secondary float-right align-bottom mt-auto mr-4" target="_blank" href="/pages/about_districts">Help</a>

</div>

 
    <br>
  </body>