<h1>Editing Campaign Finance Module</h1>

<%= render 'form', campaign_finance_module: @campaign_finance_module %>

<%= link_to 'Show', @campaign_finance_module %> |
<%= link_to 'Back', campaign_finance_modules_path %>
