<!-- app/views/errors/not_found.html.erb -->
<!DOCTYPE html>
<html>
<head>
    <title>Page Not Found</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; padding-top: 50px; }
        .message { font-size: 24px; }
        .home-link, .back-link { margin-top: 20px; }
        .error-image { max-width: 30%; height: auto; } /* Adjust the image size */
    </style>
</head>
<body>
    <%= render 'layouts/subscriber_nav' %>

    <div class="message">Sorry, the page you are looking for does not exist.</div>
    <br>
    <img class="error-image" src="/404_image.png" alt="Page not found">
    <div class="home-link"><a href="/">Go back to Homepage</a></div>
    <div class="back-link"><a href="javascript:history.back()">Go back to Previous Page</a></div>

    <%= render 'layouts/footer' %> <!-- Use appropriate partial for your footer -->
</body>
</html>
