<% if @district.at_large_district? %>
<h2>Incumbents</h2>

<div class="col">
<% @district.jurisdiction.people.each do |incumbent| %>
    <div class="row bg-light shadow-sm bg-white section-border rounded my-3 p-3">
      <%= render partial: 'shared/at_large_incumbent', locals: {person: incumbent, page_source: "at_large_district"} %>
    </div>
<%end%>
</div>    
  
  


<%elsif @district.at_large_district == false %>

  <div class="col">
   <% if @district.person.present?%>
    <%= render 'shared/incumbent', person: @district.person, page_source: 'district' %>

    </div>
    <%else%>

    <%= render partial: 'shared/vacant', locals: {person: @district.person, page_source: "district"} %>

    <%end%>
    
  </div>


<%end%>
