<% if @district.at_large_district? %>
<h4>Incumbents</h4>

<div class="col">
<% @district.jurisdiction.people.each do |incumbent| %>
    <div class="row bg-light shadow-sm bg-white section-border rounded my-3 p-3">
      <%= render partial: 'shared/at_large_incumbent', locals: {person: incumbent, page_source: "at_large_district"} %>
    </div>
<%end%>
</div>    
  
  


<%elsif @district.at_large_district == false %>

  <div class="col">
    <% if @district.person.present? %>
    <%= render partial: 'shared/incumbent', locals: {person: @district.person, page_source: "district"} %>
    <%end%>
  </div>

</div>
<%end%>
