  <div class="card shadow-sm mb-3 bg-white rounded" style="max-width: 100%;">
    <div class="card-header">
      District Map
    </div>
    <div style="height:280px; border:2px solid #eee; display:inline-block; overflow:hidden;">
      <iframe style="position:relative; top:-46px; border:none;" 
          src="<%=@district.map_url %>" 
          width=700 height=320></iframe>      
    </div>
    <div class="card-footer">
        <%= link_to "View Full Map", @district.map_url, :class => "btn btn-primary mr-2" %> 
    </div>                        
  </div>