<div class="card shadow-sm mb-3 bg-white rounded primary-border" style="max-width: 100%;">
    <div class="card-header">
    About the District
  </div>
  
  <div class="card-text p-4">

    <%= @district.note %>
  </div>
</div>  