<p id="notice"><%= notice %></p>

<h1>Vendors</h1>
<h5>Top 500 Vendors</h5>
<p>Note: This list shows the top 500 vendors, drawn from the campaigns where vendor data is made easily available.</p>
<div class="card p-2">
<table class="table table-sm" id="vendors">
  <thead>
    <tr>
      <th>Transactions</th>
      <th>Name</th>
      <th>Donations</th>
    </tr>
  </thead>

  <tbody>
    <%  Vendor.all.limit(500).each do |vendor| %>
      <tr>
        <td><%= vendor.transactions.count %></td>
        <td><%= link_to "#{vendor.full_name.titlecase}", vendor %></td>
        <td><%= number_to_currency(vendor.transactions.sum(:amount)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<script>

jQuery.extend( jQuery.fn.dataTableExt.oSort, {
    "currency-pre": function ( a ) {
        a = (a==="-") ? 0 : a.replace( /[^\d\-\.]/g, "" );
        return parseFloat( a );
    },
 
    "currency-asc": function ( a, b ) {
        return a - b;
    },
 
    "currency-desc": function ( a, b ) {
        return b - a;
    }
} );

$(document).ready(function () {
    $('#vendors').DataTable({
        order: [[2, 'desc']],
        "iDisplayLength": 50,
        columnDefs: [
       { type: 'currency', targets: 2 }
     ],
    });
});
</script>
