<div class="container">

<h1 class="heavy primary-blue">Jurisdictions</h1>
<div class="table-responsive shadow bg-white rounded primary-border p-4">
<table class="table" id="jurisdictions">
  <thead>
    <tr>
      <th>Name</th>
      <th>Jurisdiction Type</th>
    </tr>
  </thead>

  <tbody>
    <% @jurisdictions.each do |jurisdiction| %>
      <tr>
        <td><%= link_to "#{jurisdiction.name}", jurisdiction %></td>
        <td><%= jurisdiction.jurisdiction_type %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<% if current_user.admin? %>
<%= link_to 'New Jurisdiction', new_jurisdiction_path, :class => "btn btn-primary mr-2" %>
<%end%>    

</div>
<script>
    $( document ).on('turbolinks:load', function() {
    $('#jurisdictions').DataTable( {
      retrieve: true
    });
});
</script>
