<tr class="nested-fields">
    <td>
       
        <%= link_to_remove_association "Remove", f, class: 'btn btn-primary ' %>
    </td>
    <td>        <%= f.date_field :date, value: (f.object.new_record? ? 
Date.today : f.object.expenditure_date), hide_label: true %> </td>
    <td><%= f.text_field :description, hide_label: true %></td>
    <td> <%= f.number_field :amount, step: :any, hide_label: true %></td>
    

</tr>



       