<div class="table-responsive p-2 mt-4">
    <table class="table bg-white" style="width:100%">
      <thead class="thead-light rounded">
        <tr>
          <th>Name</th>
          <th>Ballot Status</th>
        </tr>
      </thead>
      
      <tbody>
      <% @campaign.candidates.each do |candidate| %>
        <tr>
          <td>
         <% if candidate.person.present?%><%= link_to "#{candidate.person.first_name} #{candidate.person.last_name}", candidate.person %><%else%><%= "#{candidate.first_name} #{candidate.last_name}" %><%end%>
          </td>
          <td><%= candidate.ballot_status %></td>
        </tr>
       
        
      <% end %>
    </tbody>
    </table>