/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */

body {
  font-family: 'Open Sans', sans-serif !important;
}

.small-table {
    font-size: small;
  }

.candidate-table {
  border: 1px;
}

.election-stats {
  padding-left: 0px;
  padding-right: 0px;
}

.gop-text {
  color: #DE0100
}

.dem-text {
  color: #0015BC
}

.amended {
  font-style: italic;
}

.not-amended {
  font-style: none;
}

.small-text {
  font-size: small;
}

.green-pill {
  border-radius: 25px;
  background: #d7f5e9;
  padding: 1px 20px;
  color: #17533f;
}

.red-pill {
  border-radius: 25px;
  background: #ffecec;
  padding: 1px 20px;
  color: #824443;
  font-size: 12px;
}

.dem-registration-pill {
  border-radius: 25px;
  background: #D9E2EC;
  padding: 1px 20px;
  color: #243B53;
}

.gop-registration-pill {
  border-radius: 25px;
  background: #ffecec;
  padding: 1px 20px;
  color: #824443;
}

.profile{
  width: 100px;
  height: 100px;
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.blue-circle {
  background: #84C5F4;
  border-radius: 50%;
  width: 25px; 
  height: 25px;
  left:0; top: 2px;
}

.blue-checkmark {
  left:0; top: 2px;
  width: 25px; 
  height: 25px;
  text-align: center;
  background: #84C5F4;
  border-radius: 50%;}

.red-checkmark {
    left:0; top: 2px;
    width: 25px; 
    height: 25px;
    text-align: center;
    background: #E66A6A;
  border-radius: 50%;}

  .condensed-column  {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

.no-border {
  border-top: 0px !important;
}

.font-size-12 {
  font-size: 12px;
}

 
 @import "rails_bootstrap_forms";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Roboto&display=swap');




