/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 *= require material_icons
 *= require font-awesome
 *= require easy-autocomplete
 *= require easy-autocomplete.themes
 */

body {
  font-family: 'proxima-nova', sans-serif !important;
}

.fa{
  font-size: 20px !important;
}

.signup-button {
  color: white !important;
}

.logo {
  width: 40px;
  height: auto;
}

.home-page-logo {
  width: auto;
  height: auto;
}

.homepage-images {
  width: auto;
  height: 300px;
}

.logo-green {
  color: #74992E
}

nav .navbar-nav li a{
  color: #486581 !important;
  font-weight: 600;
  }

.primary-blue {
  color: #486581
}

.header-text {
  color: #74992E !important;
}

.primary-border {
  border-style: solid !important;
  border-width: 1px !important;
  border-color: #486581 !important;
}

.primary-header {
  background-color: #486581 !important;
  color: white !important;
  font-weight: 600 !important;
}

$primary: #486581;
$warning: #8A041A;

.table-condensed-header {
font-family: 'proxima-nova-condensed', sans-serif !important;
font-weight: 700 !important;
font-style: normal !important;
}

.heavy {
  font-family: 'proxima-nova', sans-serif !important;
  font-weight: 700 !important;
  font-style: bold !important;
  }

.small-table {
    font-size: small;
  }

.candidate-table {
  border: 1px;
}

.election-stats {
  padding-left: 0px;
  padding-right: 0px;
}

.gop-text {
  color: #A61B1B
}

.dem-text {
  color: #0F609B
}

.dts-text {
  color: #7069FA
}

.amended {
  font-style: italic;
}

.dark-red-supporting {
  color: #610316;
}

.gold-text {
  color: #DE911D;
}

.not-amended {
  font-style: none;
}

.small-text {
  font-size: small;
}

.green-pill {
  border-radius: 25px;
  background: #d7f5e9;
  padding: 1px 20px;
  color: #17533f;
}

.dark-blue-pill {
  border-radius: 25px;
  background: #F0F4F8;
  padding: 1px 5px;
  color: #334E68;
}

.green-text {
  color: #17533f;
}

.red-text {
  color: #824443;
}

#cash-on-hand {
  border-radius: 25px;
  background: #d7f5e9;
  padding: 1px 20px;
  color: #17533f;
  font-weight: 700 !important;
  text-align: right;
}

.red-pill {
  border-radius: 25px;
  background: #ffecec;
  padding: 1px 10px;
  color: #824443;
}

.dashboard-header {
  background: #D9E2EC;
  overflow:auto;
}

.card .card-header {
  background-color: #D9E2EC; 
  border-color: transparent;
  font-weight: 900;
}

.red-money-pill {
  border-radius: 25px;
  background: #ffecec;
  padding: 1px 20px;
  color: #824443;
}

.dem-pill {
  border-radius: 25px;
  background: #1992D4;
  padding: 1px 20px;
  color: white;

}

.dem-party-endorsed {
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  padding: 1px 10px;
  color: #243B53;
  font-weight: 700 !important;
}

.section-border {
  border-style: solid;
  border-width: 1px;
  color: #243B53;
}

.gop-pill {
  border-radius: 25px;
  background: #AB091E;
  padding: 1px 20px;
  color: white;

}
.gop-party-endorsed {
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  padding: 1px 10px;
  color: #824443;
  font-weight: 700 !important;
}

.profile{
  width: 100px;
  height: 100px;
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.blue-circle {
  background: #84C5F4;
  border-radius: 50%;
  width: 25px; 
  height: 25px;
  left:0; top: 2px;
}

.blue-checkmark {
  left:0; top: 2px;
  width: 25px; 
  height: 25px;
  text-align: center;
  background: #84C5F4;
  border-radius: 50%;}

.red-checkmark {
    left:0; top: 2px;
    width: 25px; 
    height: 25px;
    text-align: center;
    background: #E66A6A;
  border-radius: 50%;}

  .condensed-column  {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

.no-border {
  border-top: none !important;
}

.font-size-12 {
  font-size: 12px;
}

.avatar {
  border-radius: 50%;
  border:2px solid white;
}

.vertical-align {
  vertical-align: middle;
}

.center-image {
  margin: auto;    
  display: block;
}

.avatar-wrapper {
  width:200px;
  height:200px;
  margin: 25px auto;
  overflow: hidden;
  border-radius:50%;
  position: relative;
}

.avatar-wrapper img {
  position: absolute;
  top:100%;
  left:50%;
  transform: translate(-50%,-50%)
}

.advanced-general {
  border-radius: 25px;
  background: #d7f5e9;
  padding: 1px 10px;
  color: #17533f;
}

.rumored-candidate {
  border-radius: 25px;
  background: #BCCCDC;
  padding: 1px 10px;
  color: #243B53;
}

.lost-primary {
  border-radius: 25px;
  background: #ffecec;
  padding: 1px 10px;
  color: #824443;
}

.declared-candidacy {
  border-radius: 25px;
  background: #E6E6FF;
  padding: 1px 10px;
  color: #0C008C;
}

.on-ballot {
  border-radius: 25px;
  background: #E3F8FF;
  padding: 1px 10px;
  color: #035388;
}

.withdrew {
  border-radius: 25px;
  background: #FFFBEA;
  padding: 1px 10px;
  color: #CB6E17;
}

.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}

.nounderline {
  text-decoration: none !important
}

.section-header {
  background-color: #486581;
  color: white;
  font-weight: 600;
}




 
 @import "rails_bootstrap_forms";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Roboto&display=swap');
 @import url("https://use.typekit.net/suq4glw.css");
 @import url("https://use.typekit.net/suq4glw.css");


