.party-registration {
  display: flex;
  align-items: left;
  justify-content: flex-start; /* Align children to the start */
  margin-bottom: 10px; /* This can be adjusted for spacing between items */
}


@media (max-width: 767px) {
  .party-name {
    font-size: smaller; /* You can adjust this as needed for your design */
    margin-right: 10px; /* Smaller margin for smaller screens, adjust as needed */
  }

  .advantage-text {
    font-size: 1em; /* Smaller font size on mobile */
  }

  .bar-container {
    width: 50%; /* Reduce the width on smaller screens */
  }
}

@media (max-width: 991px) {
  #incumbent-card {
    float: none;
    width: 100%;
    margin-bottom: 20px; /* Add space between the card and text */
  }

  #analysis-text {
    width: 100%;
  }
}


.party-name {
  font-weight: bold;
  width: 10%;
  white-space: nowrap; /* Prevent wrapping */
  min-width: 0; /* For flexbox to allow shrinking below content size */
}

.bar-container {
  position: relative;
  background-color: #eee;
  height: 20px;
  width: 75%; /* Adjust this width as necessary */
  
}


.bar {
  position: absolute;
  height: 100%;
}

.percentage-badge {
  position: absolute;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-weight: bold;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white; /* Increased border width */
  background-color: #000; /* Set a distinct background color; change as needed */
  top: 50%;
  transform: translateY(-50%);

}

/* Color classes for the bars and text */
.rep-bar {
  background-color: #A61B1B; /* Assuming REP is Republican and should be red */
}

.dem-bar {
  background-color: #0F609B;
}

.other-bar {
  background-color: #7069FA; /* Assuming OTHER should be purple */
}

.rep-text, .dem-text, .other-text {
  /* Consolidated text color styles */
  color: white;
}

.total-voters {
  position: absolute;
  right: 0; /* Align to the right */
  padding-right: 10px; /* Adjust padding as needed */
  white-space: nowrap; /* Prevent wrapping */
}


.advantage-text {
  font-weight: bold;
  font-size: 1.5em; /* Larger font size */
  white-space: nowrap; /* Prevents wrapping */
}