<p>Welcome to The Ballot Book, <%= @user.first_name %>!</p>

<p>To finalize your registration, please confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
