<div class="mx-auto mt-16">
  <div class="px-6 py-10 text-center border border-primary rounded shadow-sm bg-white-100">
    <h1 >Successfully unsubscribed</h1>
    <p class="mb-6">You will no longer receive updates about <%= @reason %>.</p>
    <p class="text-sm ">You can always opt back in within your <%= link_to "profile settings", edit_user_registration_path, class: "underline" %>.</p>
  </div>
</div>