<p id="notice"><%= notice %></p>





<h1>Contributors</h1>

<p>Note: This table shows all contributors, drawn from the campaigns where contributor data is made easily available.</p>
<div class="card p-3">
<table class="table table-sm" id="contributors">
  <thead>
    <tr>
      <th>Transactions</th>
      <th>Name</th>
      <th>Donations</th>
    </tr>
  </thead>

  <tbody>
  <% Contributor.find_in_batches do |contributors| %>
    <%  contributors.each do |contributor| %>

      <tr>
        <td><%= contributor.transactions.count %></td>
        <td><%= link_to "#{contributor.full_name}", contributor %></td>
        <td><%= number_to_currency(contributor.transactions.sum(:amount)) %></td>
      </tr>
      <%end%>
  <%end%>
  </tbody>
</table>
</div>
<br>

<script>

jQuery.extend( jQuery.fn.dataTableExt.oSort, {
    "currency-pre": function ( a ) {
        a = (a==="-") ? 0 : a.replace( /[^\d\-\.]/g, "" );
        return parseFloat( a );
    },
 
    "currency-asc": function ( a, b ) {
        return a - b;
    },
 
    "currency-desc": function ( a, b ) {
        return b - a;
    }
} );

$(document).ready(function () {
    $('#contributors').DataTable({
        order: [[2, 'desc']],
        "iDisplayLength": 50,
        columnDefs: [
       { type: 'currency', targets: 2 }
     ],
    });
});
</script>
