<div class="container">
  <div class="row ">
    <div class="col">  
      <h1>Measures</h1>
      <br>
      <div class="table-responsive rounded primary-border p-4 shadow-sm">
      <table class="table " id="measures">
        <thead class="thead-light">
          <tr>
            <th>Letter</th>
            <th>Topic</th>
            <th>Jurisdiction</th>
          </tr>
        </thead>

        <tbody>
          <% @measures.order("letter ASC").each do |measure| %>
            <tr>
              <td class="text-nowrap"><%= link_to "Measure #{measure.letter}", measure %></td>
              <td><%= measure.topic %></td>
              <td class="text-nowrap"><%= link_to "#{measure.jurisdiction.name}", measure.jurisdiction %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
<br>
<% if current_user.admin? %>
<%= link_to 'New Measure', new_measure_path, :class => "btn btn-primary mr-2" %>
<%end%>    

