<div class="container">
  <div class="row">
    <div class="col">  
      <h1>Measures</h1>
      <br>
      <div class="table-responsive shadow bg-white rounded border-primary p-4">
      <table class="table " id="measures">
        <thead class="thead-light">
          <tr>
            <th>Letter</th>
            <th>Topic</th>
            <th>Jurisdiction</th>
          </tr>
        </thead>

        <tbody>
          <% @measures.order("letter ASC").each do |measure| %>
            <tr>
              <td><%= link_to "Measure #{measure.letter}", measure %></td>
              <td><%= measure.topic %></td>
              <td><%= measure.jurisdiction.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
<br>
<% if current_user.admin? %>
<%= link_to 'New Measure', new_measure_path, :class => "btn btn-primary mr-2" %>
<%end%>    

<script>
    $( document ).on('turbolinks:load', function() {
    $('#measures').DataTable( {
      dom: 'rtip', 
      retrieve: true
    });
});
</script>