<h1>Editing Historical Candidate</h1>

<%= render 'form', historical_candidate: @historical_candidate %>

<%= link_to 'Show', @historical_candidate %> |
<%= link_to 'Back', historical_candidates_path %>
