<nav class="navbar navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand"><%= image_tag 'logos/ballot_logo_square.png', class: "logo", alt: 'The Ballot Book Logo' %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" <%= link_to 'Home', page_path('home') %><span class="sr-only">(current)</span></a>
              </li>
             
          </ul>

          <ul class="navbar-nav">  
         <li class="nav-item m-1">
                  <%= link_to 'Sign Up', new_user_registration_path, :class => "btn " %>
              </li>
              <li class="nav-item m-1">
                  <%= link_to 'Login', new_user_session_path, :class => "btn " %>
              </li>
          </ul> 
    </div>
</nav>